.about-top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.about-fourth-title {
    font-size: 47px;
    font-weight: 700;
}

.about-fourth-description {
    letter-spacing: 0.4px;
    line-height: 27px;
}

.about-bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 200px) {
    .about-top-container {
        padding: 10% 10%;
    }

    .about-fourth-section-container {
        padding: 0% 0%;
    }

    .vector12 {
        width: 320px !important;
        margin-bottom: 10%;
    }

}

@media screen and (min-width: 576px) {
    .about-top-container {
        padding: 10% 24%;
    }

    .vector12 {
        width: 600px !important;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 860px) {
    .about-top-container {
        padding: 3% 24%;
    }

    .about-fourth-section-container {
        padding: 5% 0%;
    }

    .vector12 {
        width: 900px !important;
        margin-bottom: 0%;
    }
}