.vision-fourth-left-container {
    background-image: url("../../../assets/images//Vector16.svg");
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.vision-fourth-title {
    text-transform: uppercase;
    font-weight: 700;
}

.vision-fourth-right-container {
    background-color: #F9F9F9;
    padding: 0% 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vision-fourth-img {
    filter: grayscale(100%);
}

@media screen and (min-width: 200px) {
    .vision-fourth-section-container {
        height: 100vh;
    }

    .vision-fourth-title {
        font-size: 40px;
    }
}

@media screen and (min-width: 576px) {
    .vision-fourth-section-container {
        height: 40vh;
    }

    .vision-fourth-title {
        font-size: 45px;
    }
}

@media screen and (min-width: 860px) {
    .vision-fourth-section-container {
        height: 90vh;
    }

    .vision-fourth-title {
        font-size: 55px;
    }
}