.vision-third-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.vision-third-title {
    font-size: 47px;
    font-weight: 700;
    line-height: 55px;
}

.vision-third-sub-title {
    font-size: 16px;
    font-weight: 600;
}

.vision-third-description {
    letter-spacing: 0.4px;
    line-height: 25px;
}

.vision-third-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 200px) {
    .vision-third-section-container {
        height: 125vh;
    }

    .vision-third-left-container {
        text-align: center;
        padding: 0% 8%;
    }
}

@media screen and (min-width: 576px) {
    .vision-third-section-container {
        height: 70vh;
    }

    .vision-third-left-container {
        padding: 0% 8%;
    }
}

@media screen and (min-width: 860px) {
    .vision-third-section-container {
        height: 100vh;
    }

    .vision-third-left-container {
        padding: 0% 8%;
        text-align: left;
    }
}