/* container */
.footer-container {
    background-color: black;
}

.footer-top-container {
    padding: 40px 0px;
}

.footer-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 6%;
}

.footer-btn {
    background: transparent;
    color: rgb(226, 226, 226);
    height: 40px;
    width: 150px;
    font-size: 13px;
}

.footer-logo-sub-container {
    gap: 14px;
    display: flex;
    flex-direction: column;
}

.footer-logo-text {
    color: rgb(226, 226, 226);
}

.footer-menu-container {
    gap: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-menu-text {
    cursor: pointer;
    color: rgb(226, 226, 226);
}

.logo {
    margin-left: -4%;
    margin-bottom: -3%;
}

.social-media-text {
    color: rgb(226, 226, 226);
    font-weight: 500;
}

.footer-icons {
    color: white;
    margin: 2px;
    font-size: 18px;
}

/* bottom */
.footer-bottom {
    border-top: 1px solid gray;
    background-color: black;
    display: flex;
    padding: 1.2% 0%;
    justify-content: center;
}

.footer-bottom-text {
    font-size: 13px;
    color: rgb(226, 226, 226);
}

@media screen and (min-width: 200px) {
    .footer-container {
        margin-top: 0%;
    }

    .footer-logo-sub-container {
        justify-content: center;
        align-items: center;
    }

    .footer-top-container {
        gap: 25px;
    }
}

@media screen and (min-width: 576px) {
    .footer-container {
        margin-top: 0%;
    }

    .footer-logo-sub-container {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 860px) {
    .footer-container {
        margin-top: 0%;
    }

    .footer-logo-sub-container {
        justify-content: start;
        align-items: start;
    }

    .footer-top-container {
        gap: 0px;
    }
}